<section id="tasks">
  <header>
    <h2>{{ name }}'s Tasks</h2>
    <menu>
      <button>Add task</button>
    </menu>
  </header>

  <ul>
    <!-- now we take the tasks and iterate the for-loop to run 3 times -->
    @for (task of selectedUserTasks; track task.id){
      <li>
        <!-- bind the property of the task -->
        <!-- now we listen the method we want in the click listner -->
        <app-task [task]="task" (complete)="onCompleteTask($event)"/>
      </li>
    }
  </ul>
</section>
