<!-- add the nested componets -->
<app-header />

<!-- We can use the self closing tags if ther are noting in between  -->
<main>

  <ul id="users">
    <!-- Instead of the user hardcoded we can use an array and iterate -->
    @for (user of users; track user.id) {
    <li><app-user [user]="user" (select)="onSelectUser($event)" /></li>
    }
  </ul>
  <!-- This is the task component template -->
  <!-- Now we can make it inside the conditional statement and run if the selectedUser is defined
  now the Ts will understand that the selected user can't be undefined inside the conditional operator -->
  @if (selectedUser) {
    <app-tasks [userId]="selectedUser.id" [name]="selectedUser.name"/>
  }@else {
    <p id="fallback"> Select the User to see the details </p>
  }

</main>